/* =======================================
   Fuentes y reset básico
======================================= */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* =======================================
   Body y layout principal
======================================= */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* =======================================
   Cabecera / Navbar
======================================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b4332;
  color: white;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #e7d5d5;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffd60a;
}

/* =======================================
   Contenido principal
======================================= */
.content {
  flex: 1; /* para que el footer siempre quede abajo */
  padding: 2rem
}