<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <div class="footer-logo">
        <span class="logo-icon">🧊</span>
        <span>CubeMaster</span>
      </div>
      <p>Tu destino definitivo para el mundo de los cubos de Rubik</p>
      <div class="social-links">
        <!-- Facebook -->
        <a href="https://facebook.com" target="_blank" class="social-link" title="Facebook">
          <img src="https://cdn-icons-png.flaticon.com/512/49/49665.png" alt="Facebook" class="social-icon">
        </a>
        
        <!-- Instagram -->
        <a href="https://instagram.com" target="_blank" class="social-link" title="Instagram">
          <img src="https://cdn-icons-png.flaticon.com/128/87/87390.png" alt="Instagram" class="social-icon">
        </a>
        
        <!-- YouTube -->
        <a href="https://youtube.com" target="_blank" class="social-link" title="YouTube">
          <img src="https://cdn-icons-png.flaticon.com/128/3669/3669688.png" alt="YouTube" class="social-icon">
        </a>
        
        <!-- Twitter -->
        <a href="https://twitter.com" target="_blank" class="social-link" title="Twitter">
          <img src="https://cdn-icons-png.flaticon.com/128/5968/5968830.png" alt="Twitter" class="social-icon">
        </a>
      </div>
    </div>
    
    <div class="footer-section">
      <h4>Explorar</h4>
      <ul>
        <li><a routerLink="/cubos">Tipos de Cubos</a></li>
        <li><a routerLink="/tutoriales">Tutoriales</a></li>
        <li><a routerLink="/algoritmos">Algoritmos</a></li>
        <li><a routerLink="/records">Récords Mundiales</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h4>Comunidad</h4>
      <ul>
        <li><a routerLink="/foro">Foro</a></li>
        <li><a routerLink="/eventos">Eventos</a></li>
        <li><a routerLink="/competiciones">Competiciones</a></li>
        <li><a routerLink="/blog">Blog</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h4>Soporte</h4>
      <ul>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
        <li><a routerLink="/envios">Envíos</a></li>
        <li><a routerLink="/devoluciones">Devoluciones</a></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; {{currentYear}} CubeMaster. Todos los derechos reservados. | Hecho con 💙 por cuboadictos</p>
  </div>
</footer>