<nav class="navbar">
  <div class="logo">
    <a routerLink="">Cañaveral Renova</a> <!-- Clic en logo va al Home -->
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="fotovoltaica" routerLinkActive="active">Fotovoltaica</a>
    </li>
    <li>
      <a routerLink="eolica" routerLinkActive="active">Eólica</a>
    </li>
    <li>
      <a routerLink="fusion-nuclear" routerLinkActive="active">Fusión nuclear</a>
    </li>
    <li>
      <a routerLink="disena-tu-proyecto" routerLinkActive="active">Diseña tu proyecto</a>
    </li>
  </ul>
</nav>
