<!-- src/app/components/cabecera/cabecera.html -->
<nav class="navbar">
  <div class="logo">
    <a routerLink="/" class="logo-link">
      CUBE MASTER
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >
    </li>
    <li><a routerLink="/cubos" routerLinkActive="active">Cubos</a></li>
    <li><a routerLink="/tutoriales" routerLinkActive="active">Tutoriales</a></li>
    <li><a routerLink="/historia" routerLinkActive="active">Historia</a></li>

    <!-- 👇 SOLO se muestra si NO está logeado -->
    <li *ngIf="!auth.estaLogeado()">
      <a routerLink="/seccion-usuario" routerLinkActive="active">
        Usuario
      </a>
    </li>
  </ul>
</nav>